<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger!</title>
        <link type="style/css" href="/public/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <img src="/public/assets/img/burger4.jpeg" id="cartoon_burger">
  {{{ body }}}
</body>
</html>